---
layout: default
title: Quotes
---

<section>
  <div class="container">
    <div class="row">
     <div class="twelve columns">
      <h2>Quotes</h2>
     </div>
    </div>

{% for quote in site.quotes %}
    <div class="row">
      <div class="twelve columns">
<blockquote class="text-left">
  {{ quote.content | markdownify }}
</blockquote>
<div class="u-pull-right">
  &mdash; <a href="{{ quote.url }}">{{ quote.cite }}</a>
  {% if quote.reference != nil %}
  <a href="{{ quote.reference }}"><i class="fas fa-external-link-square-alt"></i></a>
  {% endif %}
</div>
      </div>
    </div>
{% endfor %}

  </div>
</section>
