<html>
	<head>
		<title>KyleMiller.com</title>
		<link rel="icon" href="/images/km-avatar-small.png" type="image/png" />
        <link rel="shortcut icon" href="/images/km-avatar-small.png" type="image/png" />

	    <meta name="viewport" content="width=device-width, initial-scale=1">

	     <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>


	     <link rel="stylesheet" href="/css/normalize.css">
	     <link rel="stylesheet" href="/css/skeleton.css">
	     <link rel="stylesheet" href="/css/km-custom.css">


	     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	     <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


	</head>
	<body>
		<header class="header">
			<!-- <a href="http://kylemiller.com" class="u-pull-left "><img height="90px" src="/images/km-avatar-semi-large-room.png"></a> -->

				<div class="full-width-container">
					<div class="row">
						<div class="one-third column ">
							<a href="http://kylemiller.com" class=""><img class="u-max-full-width" max-height="75px" src="/images/km-avatar-semi-large-room.png"></a>
						</div>
						<div class="one-third column ">
							<a href="http://photography.kylemiller.com">
								<img class="u-max-full-width center" max-height="90px" src="http://photos.kylemiller.com/photos/851171715_HNYUN-L-1.png" />
							</a>
						</div>
						<div class="one-third column ">
							<!-- <a href="http://backupparachute.com"><img class="u-max-full-width u-room-head u-pull-right" max-height="75px" src="http://backupparachute.com/images/bps-logo-green.png" /></a> -->
							<a href="https://www.instagram.com/photography_kyle_miller/" class="u-pull-right"><img height="90px" src="/images/ig-logo.png"></a>
						</div>

					</div>

				</div>

		</header>

		<div class="content">
			{{ content }}
		</div>

		<footer class="footer">
			<a href="https://www.instagram.com/photography_kyle_miller/" class="u-pull-left "><img height="24px" src="/images/ig-logo.png"></a>
		</footer>

	</body>
</html>
