---
layout: default
---
<section>
  <div class="container">

<div class="row">
  <div class="twelve columns">

    <div class="post">

    {% if page.category == "quote" %}

<blockquote class="text-left">
  <div class="u-pull-right">
    <small>
      <a href="{{ page.url }}">{{ page.date | date: '%Y-%m-%d' }}</a>
    </small>
  </div>

  <i class="fas fa-quote-left fa-3x"></i> {{ page.content | markdownify }}

  {% if page.cite != nil %}
  <div class="cite">
    <div class="u-cf">&nbsp;</div>
    <span class="u-pull-right">
    {% if page.reference != nil %}
    &mdash; <a href="{{ page.reference }}" target="_blank">{{ page.cite }}</a>
    {% else %}
    &mdash; {{ page.cite }}
    {% endif %}
    </span>
  </div>
  {% endif %}

</blockquote>


{% elsif page.category == "bookmark" %}
<div class="bookmark">
<div class="u-pull-right">
  <small>
    <a href="{{ page.url }}">{{page.title}}</a> - {{ page.date | date: '%Y-%m-%d' }}
  </small>
</div>

<i class="fas fa-bookmark fa-3x"></i> {{ page.content | markdownify }}

</div>
<hr />
{% else %}
<div class="u-pull-right">
  <small>
    <a href="{{ page.url }}">{{page.title}}</a> - {{ page.date | date: '%Y-%m-%d' }}
  </small>
</div>
{{ page.content | markdownify }}

<hr />
{% endif %}


    </div>

  </div>
</div>

</div>
</section>
